@use 'variaveis';

.header {
    padding-top: 60px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variaveis.$corSecondary;
        content: "";
        opacity: .7;
    }

    &__content {
        text-align: center;
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 44px;
    }

    &__subtitle, .time__event {
        margin: 64px 0 0;
        line-height: 56px;        
        font-weight: 800;
        font-size: 28px;
    }    

    .infos-bar {
        padding: 16px 24px;
        background-color: variaveis.$corPrimary;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        color: variaveis.$corSecondary;
    
        &__infos {
            display: flex;
            gap: 40px;
    
            &__item {
                font-size: 14px; 
                list-style: none;
                
                b {
                    
                    font-size: 18px;
                    display: block;
                }
            }
        }
    }

    .button {
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
    
        &--primary {
            color: variaveis.$corBotao;   
            background-color: variaveis.$corFundoDoBotao; 
        }
    }

    @media (max-width: 767px) { 
        padding-bottom: 40px;      

        &__subtitle, .time__event {
            font-size: 24px;
        } 
        
        &__subtitle {
            margin-top: 20px;
            line-height: 36px;
        }

        .infos-bar {
            display: block;
            margin: 80px 28px 16px;
            padding-bottom: 28px;

            &__infos {
                display: block;

                &__item {
                    margin-bottom: 24px;
                    
                    &:nth-child(3) {
                        padding-bottom: 24px;
                    }
                }
            }
        }

    }

    @media (min-width: 768px) and (max-width: 1023px) {
        .infos-bar {
            display: block;
            margin: 80px 140px 16px;
            padding-bottom: 28px;

            &__infos {
                display: block;

                &__item {
                    margin-bottom: 24px;
                    
                    &:nth-child(3) {
                        padding-bottom: 24px;
                    }
                }
            }
        }    
    }
           
}